# Variables de entorno
.env

# Node modules
/node_modules/

# Configs de editores y entornos
.vscode/
.vs/

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de lock (a veces se excluyen, pero depende del flujo)
/package-lock.json
/yarn.lock

# Archivos temporales y de sistema
.DS_Store
Thumbs.db

# Carpeta de uploads o archivos subidos
uploads/

# Secretos o credenciales
src/secrets/firebase-adminsdk.json

# Build / dist folders (si aplican)
dist/
build/

# Archivos temporales de sistema o editores
*.swp
*.swo
*.tmp

# Carpetas de caché
.cache/
