.env
/node_modules/
.vscode/
.vs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
/yarn.lock
.DS_Store
Thumbs.db
uploads/
src/secrets/firebase-adminsdk.json
dist/
build/
*.swp
*.swo
*.tmp
.cache/
rds.txt